version: 0.1
log:
  level: info
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: redis
  filesystem:
    rootdirectory: /storage
  maintenance:
    uploadpurging:
      enabled: true
      age: 168h
      interval: 24h
      dryrun: false
  delete:
    enabled: true
redis:
  addr: harbor-redis:6379
  db: 2
http:
  addr: :5000
  relativeurls: false
  debug:
    addr: :5001
    prometheus:
      enabled: true
      path: /metrics
auth:
  token:
    issuer: harbor-token-issuer
    realm: http://harbor-core:8080/service/token
    rootcertbundle: /etc/registry/root.crt
    service: harbor-registry
validation:
  disabled: true
compatibility:
  schema1:
    enabled: true

